<header class="smellycat-header">
  <div class="header-container d-flex justify-content-between align-items-center py-3">
    <div class="d-flex align-items-center">
      <img src="assets/logo-header.png" alt="SmellyCat Logo" height="40" class="me-2" />
    </div>
    <nav>
      <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="#">Adopt Kittens</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Kitty Stories</a></li>
        <li class="nav-item"><a class="nav-link" href="#">About us</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
